.dashLayout {

    height: 100vh;
    background: linear-gradient(
    to bottom, 
    #0084B5 0%, 
    #49c5fc 60%, 
    #EA193B 60%, 
    #CE0651 100%
  );
}

.dashContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 75%;
    background-color: white;
    border-radius: 10px;
}